# Server datasets
db/datasets/raw_datasets/*
db/datasets/zipped_expressions_sets/*
db/datasets/modified_datasets/*
db/chromadb_client/*
db/__pycache__/*
utils/__pycache__/*
# Local env files
.venv
.vscode