/* Importación del archivo de fuentes */
@import './fonts.css';

body {
  font-family: "IBM Plex Sans" !important;
  min-height: 100%;
}

a {
  --bs-text-opacity: 1;
  color: inherit !important;
  text-decoration: none !important;
}

.h2 > * > p {
  display: block !important;
  font-size: 1.17em !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.response > * >  p {
  color: #5C5C5C !important;
  font-size: 1.2rem !important;
}